.container {
    width: 100%;

    .input {
        width: 100%;
        min-height: 80px;
        font-size: 22px;
        background: none;
        outline: none;
        padding: 5px 20px;
        background-color: #454d6a;
        overflow: hidden;
        border-radius: 30px;
        color: white;
        // scrollbar-color: #a9b7e9;
        resize: none;


        &:current {
            border-color: var(--primary-color);
        }
    }
}