.content {
    color: white;
    font-size: 14px;

    .content--details {
        margin-left: 20px;

        li {
            margin-bottom: 5px;
        }
    }
}

.cinema-name {
    color: white;

}

.cinema-img {
    width: 32px;
    height: 26px;
    padding-right: 5px;
}