.footer-wrapper {
    position: relative;
    width: 100%;
    min-height: 300px;
    max-height: 400px;
    background-color: #090b13;
}

.section {
    align-items: center;
    // display: flex;
    flex-flow: row;
    min-height: auto;
    padding: 30px 0;
    position: relative;
    width: 100%;
}

.section-content {
    position: relative !important;
    z-index: 1;
    width: 100%;
}

.container {

    max-width: 1330px;
    // flex-flow: row wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.title-container {
    margin-bottom: 20px;

    h3 {
        align-items: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .title {
            text-transform: none;

            &::after {
                content: "";
                display: block;
                width: 117px;
                height: 12px;
                border-radius: 20px;
                border: 1px solid #90C63F;
                background: linear-gradient(180deg, #50B648 0%, #90C63F 59.90%, #B2EC0F 99.48%);
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.10);
                margin-top: 16px;
            }
        }
    }
}

.title {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    margin-bottom: -2px;
    margin-right: 15px;
    padding-bottom: 7.5px;
}

.ux-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .ux-menu-item {
        display: flex;
        font-size: 18px;

        span {
            align-items: baseline;
            border-bottom-color: #ececec;
            border-bottom-width: 1px;
            // color: currentColor;
            flex: 1;
            min-height: 2.5em;
            padding-bottom: .3em;
            padding-top: .3em;
            transition: all .2s;

            &:hover {
                color: var(--primary-color);
                cursor: pointer;
            }
        }
    }
}