.film-info.show {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    .close-Btn {
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;

    }

    .film-detail {
        width: 70%;
        height: 85%;
        background-color: #1a1a1a;
        border-radius: 5px;
        display: flex;

        .film-detail-control {

            margin: 40px 30px;
            margin-right: 10px;
            // width: 320px;
            max-height: 520px;

            .image {
                display: block;
                margin-bottom: 30px;
            }

            .trailer-btn {
                height: 40px;
                min-width: 120px;
                border-radius: 5px;
                background-color: transparent;
                color: white;
                border: 1px solid white;
                margin-left: 20px;
                cursor: pointer;
            }
        }

        .film-detail-content {
            margin: 40px 20px;
            margin-left: 10px;

            .name {
                font-size: 30px;
                font-weight: 700;
                color: var(--primary-color);
            }
        }
    }
}

.film-info {
    display: none;
}

.excerpt {
    margin: 22px 0;
    font-size: 16px;
    color: white;
    font-weight: 650;

}

.meta {
    color: white;
    font-size: 18px;
    font-weight: 650;

    p {
        margin-bottom: 20px;

        span {
            margin-right: 5px;
        }

        .meta-title {
            color: #ccc;
        }

        .format {
            display: inline-block;
            background-color: #26b82c;
            font-size: 14px;
            padding: 2px 4px;
            border-radius: 3px;
        }
    }
}